* {
  font-size: 25px;
}

.wrapper {
  height: 100vh;
  position: relative;
  background-color: rgb(253, 253, 253);
}

.mainChat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  border: 2px solid #fa5185;
  border-radius: 5px;
  /* overflow: hidden; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.chat {
  width: 648px;
  background-color: whitesmoke;
  height: 500px;
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 5px 0 0 0;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #fa5185;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #ff004c;
}

.userList {
  width: 348px;
  height: 500px;
  background: white;
  border-left: 2px solid #fa5185;
  padding: 20px 0 0 20px;
}

.userItem {
  font-family: "Carrois Gothic SC", sans-serif;
  margin-bottom: 5px;
  color: #fa5185;
  font-weight: bold;
}

.listItem {
  font-family: 'Muli', sans-serif;
}

.mainInput {
  width: 100%;
  height: 80px;
  display: block;
  margin: 0 auto;
  border: 0;
  border-top: 2px solid #fa5185;
  padding: 5px;
}

.inputSend {
  width: 100%;
  height: 80px;
  background-color: #fa5185;
  border: 0;
  color: white;
  padding: 5px;
  border-radius: 0 0 3px 3px;
}

.signOut {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  right: -40px;
  border-radius: 50%;
  border: 0;
  background-color: #fa5185;
  cursor: pointer;
}

.out {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: #fa5185;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}