.wrapper {
  height: 100vh;
  position: relative;
}

.mainChat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
  border: 2px solid #fa5185;
  border-radius: 5px;
  /* overflow: hidden; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.chat {
  width: 498px;
  background-color: whitesmoke;
  height: 300px;
  padding: 20px;
  overflow-y: scroll;
  overflow: hidden;
  border-radius: 5px 0 0 0;
}

.userList {
  width: 198px;
  height: 300px;
  background: white;
  border-left: 2px solid #fa5185;
  padding: 20px 0 0 20px;
}

.userItem {
  font-family: "Carrois Gothic SC", sans-serif;
  margin-bottom: 5px;
  color: #fa5185;
  font-weight: bold;
}

.listItem {
  font-family: "Carrois Gothic SC", sans-serif;
}

.mainInput {
  width: 100%;
  height: 50px;
  display: block;
  margin: 0 auto;
  border: 0;
  border-top: 2px solid #fa5185;
  padding: 5px;
}

.inputSend {
  width: 100%;
  background-color: #fa5185;
  border: 0;
  color: white;
  height: 50px;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.signOut {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  right: -40px;
  border-radius: 50%;
  border: 0;
  background-color: #fa5185;
  cursor: pointer;
}

.out {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: #fa5185;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
